*{
    font-family: sans-serif;
    
}
/* NAVBAR */
.navizinha{
    margin-top: 12px;
    width: 70%;
    height: 50px;
    border-radius: 50px;
}

.bi-bi-person-circle{
    height: 55px;
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none;
}

#navbar{
    border-bottom: 3px solid #3B9C62;
    background-color: #DCB21E;
    
}

/*NAVBAR2*/

.navinha{
    padding: 10px;
    border-bottom: 3px solid #DCB21E;
}

.camp{
    margin-left: 60px;
    text-decoration: none;
    color: #21468A;
    border: 2px solid #21468A;
    border-radius: 40px;
    font-size: 22px;
}

.transfer{
    margin-left: 170px;
    text-decoration: none;
    color: #21468A;
    border: 2px solid #21468A;
    border-radius: 40px;
    font-size: 22px;
}

.clube{
    margin-left: 200px ;
    text-decoration: none;
    color: #21468A;
    border: 2px solid #21468A;
    border-radius: 40px;
    font-size: 22px;
}

.mercado{
    margin-left: 170px;
    text-decoration: none;
    color: #21468A;
    border: 2px solid #21468A;
    border-radius: 15px;
    font-size: 22px;
}

.fa-trophy{
    color: #DCB21E;
}

.fa-right-left{
    color: #DCB21E;
}

.fa-shirt{
    color: #DCB21E;
}

.fa-dollar-sign{
    color: #DCB21E;
}

/*EC BAHIA NOME E LOGO*/

.nometime h1{
    font-size: 27px;
    padding: 10px;
    margin-left: 20px;
}

.logotime img{
    margin-left: 25px;
}