*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}
/* header */

header {
    background-color: #DCB21E;
    border-bottom: 3px solid #3B9C62;
    padding: 20px 0;
    text-align: center;
}

.submit{
    width: 40px;
    height: 22px;
    border-radius: 5px;
    background-color: #21468A;
    color: #fff;
    border: none;
}

.submit:hover{
    background-color: #005AFF;
    cursor: pointer;
    height: 25px;
}

.pesq{
    height: 25px;
    border-radius: 5px;
    border: none;
}

#fname::placeholder{
    padding: 10px;
}

/*NAVBAR2*/

.navinha{
    padding: 10px;
    border-bottom: 3px solid #DCB21E;
}

.camp{
    margin-left: 80px;
    text-decoration: none;
    color: #21468A;
    border: 2px solid #21468A;
    border-radius: 40px;
    font-size: 18px;
}

.transfer{
    margin-left: 170px;
    text-decoration: none;
    color: #21468A;
    border: 2px solid #21468A;
    border-radius: 40px;
    font-size: 18px;
}

.clube{
    margin-left: 200px ;
    text-decoration: none;
    color: #21468A;
    border: 2px solid #21468A;
    border-radius: 40px;
    font-size: 18px;
}

.mercado{
    margin-left: 170px;
    text-decoration: none;
    color: #21468A;
    border: 2px solid #21468A;
    border-radius: 15px;
    font-size: 18px;
    padding-right: 7px;
}

.fa-trophy{
    color: #DCB21E;
    padding-left: 7px;
}

.fa-right-left{
    color: #DCB21E;
    padding-left: 7px;
}

.fa-shirt{
    color: #DCB21E;
    padding-left: 7px;
}

.fa-dollar-sign{
    color: #DCB21E;
    padding-left: 7px;
}



/*EC BAHIA NOME E LOGO*/

.nometime h1{
    font-size: 27px;
    padding: 10px;
    margin-left: 20px;
    border-bottom: 2px solid #005AFF;
    max-width: 500px;
}

.logotime img{
    margin-left: 25px;
    margin-top: -210px;
}

.info-clube{
    background-color: #21468A;
    display: flex;
    margin-left: 200px;
    margin-top: 80px;
    border-radius: 12px;
    flex-wrap: wrap;
}

.plantel{
    margin-left: 40px;
    margin-top: 20px;
}

.estrangeiros{
    margin-left: 410px;
    margin-top: 20px;
}

.med-etaria{
    
    margin-top: 80px;
}

.estadio{
    margin-left: 40px;
    margin-bottom: 20px;
}